.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{background-color: rgb(10, 10, 88);width: auto;display: flex;padding-top: 1vh;
flex-direction: column;align-items: start;justify-content: center;padding-bottom: 7vh;}
.homeimg1{width:98.7vw;height: 100vh;}
.intro{display: flex;flex-direction: row;align-items:center;justify-content: start;width: 80vw;
background-color: #0a718d;padding-left: 2.5vw;border-radius: 3.5vw;margin-bottom: 12vh;margin-left: 3vw;}
.subintro{display: flex;flex-direction: column;width: 60vw;height: auto;}
.subintrotitle{color: aliceblue;font-size: 4vw;text-decoration: underline;margin: 0;}
.subintrop{color: gold;font-size: 1.5vw;font-weight: bolder;width: 58vw;}
.introimg{width: 23vw;height: 36vh;margin-left: 4vw;}
.navitem{display: flex; flex-direction: column-reverse;width:14vw; height: 8vh;margin-right: 1.5vw;
align-items: center;justify-content: center;padding: 0;}
.navitem :hover{font-size: 1.3vw;}
.navitem a{text-decoration: none;color: rgb(255, 255, 255);font-size: 1.1vw;font-weight: 2.9vw;}
.navimg{width: 4vw;height: 5vh;}
.navbar{width:94vw;display: flex;flex-direction: row;align-items: center;justify-content: space-around;
 background:none;height: 10vh;padding-top: 0.5vh;
background-color: rgba(55, 95, 226, 0.753);border-bottom-right-radius: 10vw;
border-top-right-radius: 10vw;list-style: none;padding: 0;padding-top: 0.5vh;}
.navbar:hover{background-color: #3077e0;}
.mnavbar{height: 15vh;display: flex;flex-direction: row;width: 98vw; position: sticky;z-index: 9999;top:0;right: 0;left: 0;
align-items: center;margin: -3.1vw;height: 13vh;justify-content: space-around;}
.mynavphoto{width: 6.5vw;height: 0vh;margin: 0;margin-left: 1vw;}
.postintro{background-color: rgb(255, 208, 0);margin-left: 2vw;border-top-left-radius: 4vw ;border-top-right-radius: 4vw ;padding: 1vw;
  border-bottom-left-radius: 4vw ;border-bottom-right-radius: 4vw ;height: auto;width: 70vw;}
.subpostintro{display: flex;flex-direction: row;font-size: 5vh;color: aliceblue;
  }
.subpostintro img{width: 6vw;height: 15vh;margin-left: 1vw;}
.lfcmp{background-color: white;display: flex;flex-direction: row;
width: 65vw;height: 35vh;border-radius: 4vw;align-items: center;justify-content: space-between;
color: rgb(9, 9, 102);padding-left: 1.5vw;padding-top: 0;margin-bottom: 6vh;}
.lfcmp img{width: 20vw;height:35vh; border-radius: 4vw;}
.lfcmp h4{font-size: 2.3vw;margin: 0;text-decoration: underline;}
.lfcmp p{font-weight: bolder;color: black;font-size: 1.34vw;}
.digital{background-color: rgb(10, 10, 88) ;width: auto;display: flex;flex-direction: column;
align-items: center;justify-content: center;padding-bottom: 7vh;}
.dintro{width:98.7vw; height: 100vh;}
.mdcmp{display: flex;flex-direction: column;align-items: center;margin-top: 4vh;white-space: pre-line;}
.mdcmp img{width: 55vw;height: 45vh;border-radius: 3.5vw; border-style: groove;margin-bottom: 2.5vh;}
.mdcmp button{background-color: rgb(17, 134, 163);color:gold;border-radius: 2vw;width: 12vw;height: 6vh;
font-size: 2vw;font-style: italic;border-style: groove;font-weight: bold;}
.mdcmp button:hover{background-color:rgb(18, 180, 255);cursor: pointer;}
.mdrcmp{display: flex;flex-direction: column;align-items: center;margin-top: 4vh;}
.mdrcmp img{width: 55vw;height: 45vh;border-radius: 3.5vw; border-style: groove;margin-bottom: 2.5vh;}
.mdrcmp button{background-color: gold;color: rgb(7, 34, 58);border-radius: 2vw;width: 12vw;height: 6vh;
font-size: 2vw;font-style: italic;border-style: groove;font-weight: bold;}
.mdrcmp button:hover{background-color:yellow;cursor: pointer;}
.mdccmp{display: flex;flex-direction: column;align-items: center;margin-top: 4vh;}
.mdccmp img{width: 55vw;height: 45vh;border-radius: 3.5vw; border-style: groove;margin-bottom: 2.5vh;}
.mdccmp button{background-color: rgb(17, 134, 163);color:gold;border-radius: 2vw;width: 12vw;height: 6vh;
font-size: 2vw;font-style: italic;border-style: groove;font-weight: bold;}
.mdccmp button:hover{background-color:rgb(18, 180, 255);cursor: pointer;}
.projects{display: flex;flex-direction: column;width: 84vw;height: auto;}
.blue{background-color: #114797;display: flex;flex-direction: column;border-radius: 4vw;padding-left: 1.5vw;
padding-top: 0;height: auto;margin-top: 2.9vh;}
.blue h3{color: gold;font-weight: bold;font-size: 2.5vw;}
.blue p{color: rgb(248, 248, 248);font-weight: bold;font-size: 1.4vw;margin-right: 1vw;}
.blue a{text-decoration: none;color: rgb(0, 0, 0);font-size: 1.4vw;font-weight: bold;}
.blue a:hover{text-decoration: underline;}

.subblue{display: flex;flex-direction: row;justify-content: space-between;padding-right: 1.5vw;}
.subblue img{width: 35vw;height: 40vh;}

.yellow{background-color: gold;display: flex;flex-direction: column;border-radius: 4vw;padding-left: 1.5vw;
  padding-top: 0;height: auto;margin-top: 2.9vh;}
  .yellow h3{color: #114797;font-weight: bold;font-size: 2.5vw;}
  .yellow p{color:rgb(0, 0, 0);font-weight: bold;font-size: 1.4vw;margin-right: 1vw;}
  .yellow a{text-decoration: none;color: rgb(255, 255, 255);font-size: 1.4vw;font-weight: bold;}
  .yellow a:hover{text-decoration: underline;}
  
  .subyellow{display: flex;flex-direction: row;justify-content: space-between;padding-right: 1.5vw;}
  .subyellow img{width: 35vw;height: 40vh;}


  .dskills{background-color: gold;width: 87vw;height: auto;border-radius: 4vw;
  display: flex;flex-direction: column;align-items: center;margin-top: 3vh;}
  .dlist{background-color: gainsboro;width: 83vw;border-radius: 4vw;height: 40vh;display: flex;
  flex-direction: column;flex-wrap: wrap;font-size: 2vw;align-items: start;justify-content: center;
color:#1a0a64;font-weight: bold;}
.dlist li{margin-bottom: 1vh;}



.bluec{background-color: #114797;display: flex;flex-direction: column;border-radius: 4vw;padding-left: 1.5vw;
  padding-top: 0;height: auto;margin-top: 2.9vh;width: 84vw;}
  .bluec h3{color: gold;font-weight: bold;font-size: 2.5vw;}
  .bluec p{color: rgb(248, 248, 248);font-weight: bold;font-size: 1.4vw;margin-right: 1vw;white-space: pre-wrap;}
  .bluec a{text-decoration: none;color: rgb(0, 0, 0);font-size: 1.4vw;font-weight: bold;}
  .bluec a:hover{text-decoration: underline;}
  
  .subbluec{display: flex;flex-direction: row;justify-content: space-between;padding-right: 1.5vw;}
  .subbluec img{width: 30vw;height: 50vh;}
  
  .yellowc{background-color: gold;display: flex;flex-direction: column;border-radius: 4vw;padding-left: 1.5vw;
    padding-top: 0;height: auto;margin-top: 2.9vh;width: 84vw;}
    .yellowc h3{color: #114797;font-weight: bold;font-size: 2.5vw;}
    .yellowc p{color:rgb(0, 0, 0);font-weight: bold;font-size: 1.4vw;margin-right: 1vw;white-space: pre-wrap;}
    .yellowc a{text-decoration: none;color: rgb(255, 255, 255);font-size: 1.4vw;font-weight: bold;}
    .yellowc a:hover{text-decoration: underline;}
    
    .subyellowc{display: flex;flex-direction: row;justify-content: space-between;padding-right: 1.5vw;}
    .subyellowc img{width: 30vw;height: 50vh;}



    .research{background-color: rgb(10, 10, 88) ;display: flex;flex-direction: column;
    align-items: center;width: auto;padding-bottom: 7vh;}
    .introres{height: 100vh;width:98.7vw;margin-bottom: 5vh;}
    .rintro{background-color: #0d5ac0;border-radius: 3.5vw;padding:2.5vh;font-style:oblique;width: 70vw;}
    .pintro{display: flex;flex-direction: column;align-items: center;justify-content: center;background-color: aliceblue;
    height: auto;width: 75vw;margin-top: 3vh;border-radius: 3vw;color:#041731;font-size: 1.55vw;}
    .fintro{width: 72vw;height: auto;background-color: #07316b;border-radius: 3vw;
    display: flex;flex-direction: row;align-items: start;justify-content: space-around;
  color:white;font-size: 1.7vw;padding: 2vh;margin-bottom: 3vh;}
    .fintro img{width: 25vw;height: 60vh;}
    .tintro{width: 72vw;height: auto;background-color: #041731;border-radius: 3vw;
      display: flex;flex-direction: row;align-items: start;justify-content: space-around;
    color:rgb(255, 255, 255);font-size: 1.7vw;padding: 2vh;margin-bottom: 3vh;}
    .tintro img{width: 25vw;height: 30vh;}
    .reintro{width: 72vw;height: auto;background-color: #07316b;border-radius: 3vw;
      display: flex;flex-direction: row;align-items: start;justify-content: space-around;
    color:rgb(255, 255, 255);font-size: 1.7vw;padding: 2vh;margin-bottom: 3vh;}
    .reintro img{width: 30vw;height: 60vh;}
    .reintro a{text-decoration: none;margin-top: 4vh;color: white;font-size: 1.9vw;font-weight: bold;}
    .reintro a:hover{text-decoration: underline;}
    .retextp{display: flex;justify-content: space-between;flex-direction: column;}
    .pointro{width: 72vw;height: auto;background-color: #041731;border-radius: 3vw;
      display: flex;flex-direction: row;align-items: start;justify-content: space-around;
    color:rgb(255, 255, 255);font-size: 1.7vw;padding: 2vh;margin-bottom: 3vh;}
    .pointro img{width: 32vw;height: 70vh;}
    .pointro a{text-decoration: none;margin-top: 4vh;color: white;font-size: 1.9vw;font-weight: bold;}
    .pointro a:hover{text-decoration: underline;}
    .mintro{display: flex;flex-direction: column;align-items: center;justify-content: center;background-color: aliceblue;
      height: auto;width: 75vw;margin-top: 6vh;border-radius: 2vw;color:#041731;
    font-size: 1.9vw;padding: 5vh;font-weight: bold;background-color: gold;}


.anim{height: 15vh;}

    .web{background-color: rgb(10, 10, 88) ;display: flex;flex-direction: column;
    align-items: center;justify-content: center;width: auto;height: auto;padding-bottom: 7vh;}
    .webintro{height: 100vh;width:98.7vw;}
    .webdet{display: flex;flex-direction: column;align-items: center;justify-content: center;height: auto;}
    .webtit{display: flex;flex-direction: row;align-items: center;justify-content: space-between;
    width: 55vw;background-color: #64114f;;margin-top: 0;border-radius: 4.5vw;padding-left: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;height: auto;margin-top: 6vh;margin-bottom: 4vh;}
    .webtit h2{font-size: 3vw;color: white;height: auto;}
    .webtit:hover{background-color: #86176b;}
    .webtitb{width: 10vw;height: 6vh;background-color: #ffffff;font-size: 1.4vw;border-radius: 1.8vw;
    font-weight: bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    .webtitb:hover{cursor: pointer;font-size: 1.7vw;}
    .webgif{width: 23vw;height: 19vh;border-radius:4.5vw ;border-bottom-left-radius: 0;border-top-left-radius: 0;}
    .masgif{width:35vw;height: 23vh;border-radius:4.5vw ;border-bottom-left-radius: 0;border-top-left-radius: 0;}
    .masweb{display: flex;flex-direction: row;align-items: center;justify-content: space-between;
      width: 87vw;background-color: #2d323a ;border-radius: 4.5vw;padding-left: 2vw;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;height: auto;margin-top: 7vh;}
    .masweb h2{font-size: 2.0vw;color: white;height: auto;}
    .masweb:hover{background-color:#464a52 ;}
    .masdet{display: flex;flex-direction: column;align-items: center;
    justify-content: center;background-color: #3e81e6;margin-top: 5vh;width: 75vw; height: auto;
  border-radius: 5vw;padding: 2vw;}
  .dlabnyc{display: flex;flex-direction: row;align-items: start;justify-content: space-between;
  background-color: white;border-radius: 5vw;width: 70vw;height: auto;padding-left: 1.5vw;margin-top: 5vh;}
  .wtxt{display: flex;flex-direction:column;align-items:start;justify-content: center;
  height: 40vh;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding: 0;}
  .dlabnyc img{width: 35vw;height: 55vh;border-radius: 5vw;border-bottom-left-radius: 0;border-top-left-radius: 0;}
  .wtxt h1{color:  #3e81e6;font-weight: bold;font-size: 2.5vw;}
  .wtxt p{margin-right: 1vw;font-size: 1.45vw;font-weight: bold;color: rgb(10, 10, 88);}

 .qrdet{display: flex;flex-direction: column;align-items: center;
    justify-content: center;background-color:rgb(207, 21, 21);margin-top: 5vh;width: 75vw; height: auto;
  border-radius: 5vw;padding: 2vw;}
  .qrgif{width: 20vw;height: 20vh;}
  .dredc{display: flex;flex-direction: row;align-items: start;justify-content: space-between;
    background-color: white;border-radius: 5vw;width: 70vw;height: auto;padding-left: 1.5vw;margin-top: 5vh;}
    .wtxtr{display: flex;flex-direction:column;align-items:start;justify-content: center;
    height: 40vh;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding: 0;padding-top: 1.5vh;}
    .dredc img{width: 35vw;height: 55vh;border-radius: 5vw;border-bottom-left-radius: 0;border-top-left-radius: 0;}
    .wtxtr h1{color:rgb(207, 21, 21);font-weight: bold;font-size: 2.5vw;}
    .wtxtr p{margin-right: 1vw;font-size: 1.45vw;font-weight: bold;color: rgb(10, 10, 88);}
    .wcor{background-color: gold;display: flex;flex-direction: column;border-radius: 4vw;padding-left: 1.5vw;
      padding-top: 0;height: auto;margin-top: 2.9vh;width: 84vw;}
      .wcor h3{color: #114797;font-weight: bold;font-size: 2.5vw;}
      .wcor p{color:rgb(0, 0, 0);font-weight: bold;font-size: 1.4vw;margin-right: 1vw;white-space: pre-wrap;}
      .wcorb{background-color: #114797;display: flex;flex-direction: column;border-radius: 4vw;padding-left: 1.5vw;
        padding-top: 0;height: auto;margin-top: 2.9vh;width: 75vw;}
        .wcorb ul{color:gold;font-weight: bold;font-size: 1.7vw;margin-right: 1vw;white-space: pre-wrap;}


        .about{width: auto;height: auto;background-color: rgb(10, 10, 88);
        display: flex;flex-direction: column;align-items: center;justify-content: center;padding-bottom: 7vh;}
        .aboutintro{height: 100vh;width:98.7vw;}
        .cont{width: 80vw;height: auto;display: flex;flex-direction: row;margin-top: 4vh;margin-bottom: 6vh;
               background-color: silver;
        border-radius: 4vw;justify-content: space-between;}
        .cont img{width:30vw;height: auto;border-top-right-radius: 4vw;border-bottom-right-radius: 4vw;}
        .conttxt{padding: 2vw;height: auto}
        .conttxt h1{font-size: 2.8vw;text-decoration: underline;color: #1a0a64;}
        .conttxt h3{font-size: 1.5vw;font-style: italic;color: rgb(43, 121, 124);}
        .conttxt p{font-size: 1.4vw;font-weight: bold;}
   

        .cv{display: flex;flex-direction: row;align-items: center;justify-content: space-between;
        width: 90vw;height: auto;background-color:rgb(10, 10, 88);color: gold;  border-style: solid;
        border-color: rgb(39, 115, 255);border-radius: 4vw;margin-top: 7vh;}
        .cvtxt{display: flex;flex-direction: column;padding: 2vw;}
        .cv h1{font-style: italic;font-size: 3.2vw;}
        .cv p{font-size: 2.2vw;color: #8cb7f8;font-weight: bold;}
        .cv img{width: 40vw;height: 55vh;border-top-right-radius: 4vw;border-bottom-right-radius: 4vw;
        }
        .cv a{color: white;font-weight: bold;text-decoration: underline;font-size: 1.8vw;margin: 0;padding: 0;}
        .cv a:hover{cursor: pointer;font-size: 2vw;}
        .cv a:visited{color: white;font-weight: bold;}

        .m{width:73vw;height: 55vh;border-radius: 5vw;border-style: solid;
          border-color: rgb(39, 115, 255);margin-top: 4vh;}

.botnav{display: flex;flex-direction: column;align-items: center;justify-content: center;
background-color: #3077e0;width: 98.75vw;height: 11vh;border-top-color:gold;border-top-style: solid;font-weight: bold;}
.botit{display: flex;flex-direction: row;align-items: center;justify-content: space-between;width: 90vw;}
.contactt{display: flex;flex-direction: row-reverse;align-items: center;justify-content: center;width:auto;}
.contactt a{text-decoration: underline;color: white;font-size: 1.2vw;}
.contactt h4{text-decoration: none;color: white;font-size: 1.2vw;}
.contactt img{width: 3vw;height: 5vh;margin-right: 0.3vw;}
.contactt a:hover{cursor: pointer;text-decoration: underline;}
.contactt a:visited{color: white;}





          @media only screen and (max-width:768px){.m{height: 33vh;width: 77vw;}
           .cv img{height:auto;}
           .subintrotitle{font-size:5vw;}
           .navitem a {font-size: 1.5vw;}
           .intro{padding: 1vw;padding-left: 2.5vw;width: auto;}
           .navitem a:hover{font-size: 1.5vw;text-decoration: underline;}
           .subintrop{font-size:2.2vw;}
           .mnavbar{margin-top: -12vh;padding: 0;}
           .navitem img{height: 3vh;}
           .mynavphoto{height: 0;}
           .introimg{height: auto;border-radius: 4vw;}
           .subpostintro img{height: 10vh;width: 8vw;}
           .subpostintro h3{font-size:3.5vw ;}
           .blue h3{font-size: 3vw;}
           .blue p{font-size: 2vw;}
           .blue a{font-size: 2vw;}
           .yellow h3{font-size: 3vw;}
           .yellow p{font-size: 2vw;}
           .yellow a{font-size: 2vw;}
           .bluec h3{font-size: 3vw;}
           .bluec p{font-size: 2vw;}
           .yellowc h3{font-size: 3vw;}
           .yellowc p{font-size: 2vw;}
          .pintro{font-size: 2.2vw;}
          .fintro{font-size: 2.3vw;}
          .reintro{font-size: 2.3vw;}
          .pointro{font-size: 2.3vw;}
          .reintro{font-size: 2.3vw;}
          .tintro{font-size: 2.3vw;}
          .wcor h3{font-size: 2.7vw;}
          .wcor p{font-size: 1.8vw;}
          .wcorb ul{font-size: 2vw;}
          .mintro{font-size: 2.5vw;}
          .webgif{height: auto;}
          .webtit h2{font-size: 3.3vw;}
          .wtxt p{font-size: 1.65vw;}
          .wtxtr p{font-size: 1.65vw;}
           .lfcmp img{height: auto;}
           .lfcmp{height: auto;padding: 1vw;padding-left: 1.5vw;}
           .lfcmp h4{font-size: 2.7vw;}
           .lfcmp p{font-size: 2vw;height: auto;}
           .mnavbar{height: auto;}
           .navbar{height: auto;padding: 0;}
           .homeimg1{height: auto;}
           .dintro{height: auto;}
           .mdcmp img{height: auto;}
           .mdccmp button{font-size: 3vw;}
           .mdcmp button{font-size: 3vw;}
           .mdrcmp button{font-size: 3vw;}
           .mdrcmp img{height: auto;}
           .mdccmp img{height: auto;}
           .subblue img{height: auto;}
           .subbluec img{height: auto;}
           .subyellow img{height: auto;}
           .subyellowc img{height: auto;}
           .wtxt{height: auto;}
           .dlist{height: auto;width: 70vw;}
           .dskills{height: auto;}
           .wtxtr{height: auto;}
           .pintro{width: 85vw;}
           .introres{height: auto;}
           .fintro img{height: auto;}
           .tintro img{height: auto;}
           .reintro img{height: auto;}
           .pointro img {height: auto;}
           .webintro{height: auto;}
           .dlabnyc img{height: auto;}
           .dlabnyc{align-items: center;}
           .dredc{align-items: center;}
           .dredc img{height: auto;}
           .aboutintro{height: auto;}
           .contactt img{height:3.5vh;width: 3.2vw;}
           .botnav{height: 6.5vh;}
           .masgif{height: auto;}
           .qrgif{height: auto;}
           .conttxt h1{font-size: 3vw;}
           .conttxt h3{font-size: 2vw;}
           .conttxt p{font-size: 1.9vw;}
           .contactt a{font-size: 1.55vw;}
           .contactt h4{font-size: 1.55vw;}

          }